<div class="container">
  <label class="password-text" for="password">Enter Password:</label>
  <input class="password-area"
         type="password"
         id="password"
         [(ngModel)]="password"
         (input)="onPasswordChange()"
  />
  <div class="strength-indicator">
    <div class="section" [ngStyle]="{ backgroundColor: checkPasswordStrength() }"></div>
    <div class="section" [ngStyle]="{ backgroundColor: checkPasswordStrength() === 'green' ? 'green' : checkPasswordStrength() === 'yellow' ? 'yellow' : 'gray'}"></div>
    <div class="section" [ngStyle]="{ backgroundColor: checkPasswordStrength() === 'green' ? 'green' : 'gray' }"></div>

  </div>
  <p>{{ getPasswordStrengthText() }}</p>
</div>










