.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.password-text {
  font-weight: bold;
  margin: 0 0 10px;
}

.password-area {
  width: 250px;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.strength-indicator {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.section {
  width: 30px;
  height: 10px;
  margin: 0 2px;
  border: 1px solid #aaa;
}
